
{% extends "index.html" %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block contenido %}

<div class="d-flex flex-column align-items-center justify-content-center" style="padding: 200px;">
    <h1 class="text-center fw-bold" style="color: black;">Recupera tu Contraseña</h1>
    
    
    <form  method="post" class="needs-validation" novalidate>
        {% csrf_token %}
          <div class="text-center fw-bold" style="color: black; font-size: 17px;">{{form}}</div>  
        
        <br>
        <div style="display: grid; justify-items: center;">
            <button id="btnEnviar" type="submit" class="btn">Cambiar</button>
        </div>
    </form>
</div>

{% endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{% endblock %}