{% load static %}
<div class="grupo-1">

    <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Este software es exclusivo para los servidores publico del area de PQR en Las Ceibas Neiva</p>
    </div>
    <div class="box">
        <h2>SÍGUENOS</h2>
        <div class="red-social">
            <a href="https://www.facebook.com/lasceibasesp" target="_blank">
                <ion-icon name="logo-facebook" id="facebook"></ion-icon></a>
            <a href="https://www.instagram.com/lasceibasepn/" target="_blank">
                <ion-icon name="logo-instagram" id="instagram"></ion-icon></a>
            <a href="https://twitter.com/CeibasEPNeiva" target="_blank">
                <ion-icon name="logo-twitter" id="twitter"></ion-icon></a>
        </div>
    </div>
    <div class="box">
        <h2>CONTÁCTENOS</h2>
        <div>
            <div class="av">
                <ion-icon name="home"></ion-icon><label style="margin-left: 20px;">Cl. 6 # 6 - 02</label>
            </div>
            <div class="av">
                <ion-icon name="call"></ion-icon><label style="margin-left: 20px;">+608 8725500</label>
            </div>
    </div>
</div>
<div class="grupo-2">
    <div class="copyright">
        © 2024 Todos los derechos reservados |
        <a href="">Las Ceibas Neiva</a>
    </div>
    <div class="information">
        <a href="">Información Compañía</a> |
        <a href="">Privacidad y Política</a> |
        <a href="">Términos y condiciones</a>
    </div>
</div>